*,
*:after,
*:before {
	box-sizing: border-box;
}
#menu{
  font-size: 12px;
}
#main{
  overflow:auto;
}
#main::-webkit-scrollbar {
    display: none;
}
#in-sidebar::-webkit-scrollbar {
    display: none;
}
body{
  background-color:#e9ebee;
}
#wrapper {
margin-top:5px;
}
#sidebar {
  background-color: white;
}
#main{
height:600px;
  background-color: #e9ebee;
}
.navbar-default{
  background-color: #3b5998;
}
#sidebar>.tab-contents>.para{
  font-size:10px;
}
.dropdown-menu{
  background-color: white !important;
  color:black !important;
}
.dropdown-toggle,.btn.btn-default{
  color: white !important;
}
.nav>li>a:hover{
 background-color: #fff;
}
.actv{
  font-weight:bold ;
}
.nav-pills>li>a:visited{
background-color:#e1e1ec;
}
#search-bar{
  position:relative;
  width: 400px;
  height: 30px;
}
.navbar li .border{
 border-left: solid 1px black;
 padding-left: 10px;
}
#search-btn{
  position:absolute;
  margin:10px 5px 5px 370px;
  padding:5px 5px 5px 5px;
  background-color:white;
  color:#3b5998;
  border:none;
}
.pull-right{
  color:white;
}
header ul span{
  color:white;
  background-color:#3b5998;
  border:none;
  font-size:15px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.image-post {
    margin-bottom: 15px;
}
body div span input{
  width:500px;
  height:50px;
  margin:0 auto;
}
@media only screen and (max-width:1105px){
  body div span input{
    width:280px;
  }
}
@media only screen and (max-width:1024px){
  #search-bar{
    width:300px;
  }
  #search-btn{
    margin:10px 5px 5px 270px;
  }
}
@media only screen and (max-width:924px){
  #search-bar{
     width:200px;
  }
  #search-btn{
    margin:10px 5px 5px 170px;
  }
}
@media only screen and (max-width:823px){
  #search-bar{
    width:145px;
  }
  #search-btn{
    margin:10px 5px 5px 120px;
  }
}
@media only screen and (max-width:767px){
  #search-btn{
    margin: 70px 50px 50px 270px;
  }
  .navbar li .border{
  border:none;
  padding-left:0px;
  }
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
#news-badge{
  border:none;
  background-Color:#e9ebee;
  float:right;
  color:black;
}
.glyphicon{
  padding-right:10px;
}
.post-btns{
  border:none;
  background-color:#f5f5f5;
  color:#365899;
}
footer ul li{
  background-color:#e9ebee;
  color:#3b5998;
  border:none;
}
.pic-vid-border{
  border-top:0px;
  border-bottom:0px;
border-left: solid 1px black;
border-right: solid 1px black;
  background-color:#f5f5f5;
  color:#365899;
}
.nav>li>a{
  padding-bottom:0px;
}
.tab-pane{
  position:relative;
}
.top, .pol, .sport{
  position:absolute;
  margin:auto 10px;
}
i{
  margin-right:5px;
}
.games{
 position:relative;
 background-color:white;
 height:20px;
}
.fa-picture-o{
  color:green;
}
.fa-meh-o{
  color:yellow;
}
div h6 a{
  color:#337ab7;
  text-decoration:none;
}
h6{
  font-size:13px;
}
